.emptyWrapper {
  min-height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 1rem;
}

.imageWrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}