.approvedWrapper {
  padding: 1rem;
  .contentWrapper {
    padding: 1rem 0;
  }
}

.sliderContainer {
  padding: 0 2rem;
  background-color: aquamarine;
  margin: 0 1rem;
  overflow: hidden;
  padding: .5rem 2rem .3rem;
  img {
    width: 6rem;
    height: 4rem;
  }
}